body {
    font-size: 81%;
    font-family: Arial;
    margin: 0;
}

canvas {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
}

#map .node {
    border: 1px gainsboro solid;
    min-height: 1em;
    position: absolute;
    background-color: #B0C4DE;
    background: -moz-linear-gradient(19% 100% 90deg,#B0C4DE, #CAE1FF, #B0C4DE 100%);
    background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#B0C4DE), to(#CAE1FF), color-stop(.6,#B0C4DE));
    padding: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;

    -webkit-box-shadow: 1px 1px 1px rgba(127, 127, 127, 0.75);
    -moz-box-shadow: 1px 1px 1px rgba(127, 127, 127, 0.75);
    box-shadow: 1px 1px 1px rgba(127, 127, 127, 0.75);
}

#map .node.root {
    color: #f23d00;
}

#map .node.selected {
    border: 2px solid rgba(0, 182, 242, 0.5);
}

#map .node.ui-draggable-dragging {
    border: 2px solid rgb(0, 182, 242);
}

#map .node button,
#map .node input {
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.75);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#map .node button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#map .node.addchild_left button {
    margin-left: 3px;
    cursor: pointer;
}

#map .node.addchild_right button {
    margin-right: 3px;
    cursor: pointer;
    visibility: visible;
}
